.warp {
  position: absolute;
  width: 32px;
  bottom: 0;
  right: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
