.app {
  padding: 100px;
}
button {
  border: 1px solid #c78c16;
  border-radius: 5px;
  background-color: #c78c16;
  margin: 10px 0px 30px;
  cursor: pointer;
  padding: 5px 10px;
}
button:hover {
  background-color: #8a6721;
  border-color: #8a6721;
}
a,
a:visited,
a:active {
  color: #c78c16;
}
